---
import Container from '../components/Container.astro';
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import Table from '../components/Table.astro';
import Upcoming from '../components/Upcoming.astro';
import background from '../assets/img/background.jpg'
import type { Event } from '../../types/event.interface';

const response = await fetch('https://gospeak.io/api/groups/humantalks-paris/events?page-size=15');
const data: { data: Event[] } = await response.json();
const events: Event[] = data.data

const upcomingEvents = events.filter(event => {
  return new Date(event.start) >= new Date()
}).sort((a, b) => Number(new Date(a.start)) - Number(new Date(b.start))).slice(0, 3)

const pastEvents = events.filter(event => {
  return new Date(event.start) < new Date()
}).slice(0, 3)
---

<Layout title="Welcome to Astro.">
  <div class="bg-fixed bg-no-repeat absolute top-0 left-0 right-0 bottom-0 opacity-50" style={{ backgroundImage: `url(${background.src})`, backgroundSize: '50%', backgroundPosition: '100% 0%' }} />

  <div class="relative py-32">
    <Container class="relative">
      <div class="mx-auto max-w-5xl leading-snug">
        <h1 class="font-display text-6xl font-semibold  text-[#790357]">
          HumanTalks Paris
        </h1>
        <div class="space-y-6 mt-4 font-display text-2xl text-[#763180]">
          <p>
            Des Talks pour tous les développeurs et développeuses. Tous les 2èmes mardis du mois.
          </p>
        </div>
        <dl class="mt-10 grid grid-cols-2 gap-x-10 gap-y-6 sm:mt-16 sm:gap-x-10 sm:gap-y-10 sm:text-center lg:auto-cols-auto lg:grid-flow-col lg:grid-cols-none lg:justify-start lg:text-left">
          {[
            ['CFP ouverts à tout.e.s', '314 Speakers'],
            [`+100 filmés`, '350 Talks'],
            [`+15k abonnés Youtube`, '7 300 Membres'],
            [`Depuis + de 6 ans !`, '81 Meetups'],
          ].map(([name, value]) => (
            <div>
              <dd class="mb-0.5 text-2xl font-semibold tracking-tight">
                {value}
              </dd>
              <dt class="font-mono text-sm text-slate-950">{name}</dt>
            </div>
          ))}
        </dl>
      </div>
    </Container>

    <Upcoming events={upcomingEvents} />

    <Table events={pastEvents} />
  </div>
</Layout>